.daterangepicker {
    position: absolute;
    color: inherit;
    background: #fff;
    border-radius: 4px;
    padding: 10px 5px 0px;
    margin-top: 5px;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(12, 51, 92, 0.1);
    -moz-box-shadow: 0 0 20px 0 rgba(12, 51, 92, 0.1);
    box-shadow: 0 0 20px 0 rgba(12, 51, 92, 0.1);
}

.daterangepicker .calendar {
    display: none;
}
.daterangepicker.show-calendar .calendar {
    display: block;
}

.ranges {
    font-size: 11px;
    float: left;;
    margin: 4px;
    text-align: left; }
    .ranges ul {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      width: 100%; }
    .ranges li {
      font-size: 12px;
      border-radius: 4px;
      color: #3B4752;
      padding: 3px 12px;
      margin-bottom: 8px;
      cursor: pointer;
      position: relative; }
      .ranges li:before {
        width: 4px;
        border-radius: 3px;
        height: 100%;
        content: "";
        display: inline-block;
        background: #2982b9;
        opacity: 0;
        left: 0;
        position: absolute;
        top: 0;
        transition: 0.3s ease; }
      .ranges li:hover:before {
        opacity: 1; }
      .ranges li.active {
        background: #08c;
        border: 1px solid #08c;
        color: #fff; }
  
        .calendar {
            float: left;
        }
        .daterangepicker_input {
            position: relative;
        }
        .left .daterangepicker_input {
            padding-right: 12px;
        }
        .daterangepicker_input .input-mini {
            border: 1px solid rgba(172, 172, 172, 0.2);
            color: #555;
            height: 30px;
            line-height: 30px;
            display: block;
            vertical-align: middle;
            margin: 0 0 5px 0;
            padding: 0 6px 0 28px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 4px;
        }
        
        .flatpickr-calendar:before, .flatpickr-calendar:after {
            border: none;
        }